.NavLink,
.activeLink {
  text-decoration: none;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  color: #efeff0;
  border: 4px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  transition: all 0.2s ease-in-out;
  background: transparent;
  text-transform: capitalize;
  font-size: 15px;
}

.NavLink:hover {
  border-bottom: 4px solid #55b8d4;
}

.drowDownLinks {
  display: none;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  right: 0;
  list-style: none;
}

.drowDownLinks li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  border: 4px solid #efeff000;
  transition: all 0.2s ease-in-out;
}

.drowDownLinks li a:hover {
  border-bottom: 4px solid #55b8d4;
}

.activeLink {
  border-bottom: 4px solid #55b8d4;
  color: #55b8d4;
}

.showDropDown {
  display: block;
}

@media only screen and (max-width: 1200px) {
  .NavLink,
  .activeLink {
    display: flex;
    height: 70px;
    justify-content: flex-start;
    padding: 0 40px;
  }

  .activeLink {
    border-bottom: 4px solid #55b8d4;
    color: #55b8d4;
  }
}
